# Deployed Sepolia Addresses
TOKEN_ADDRESS=TOKEN_ADDRESS
POOL_A_ADDRESS=POOL_A_ADDRESS
POOL_B_ADDRESS=POOL_B_ADDRESS
LENDING_VAULT_ADDRESS=LENDING_VAULT_ADDRESS
REACTIVE_ADDRESS=REACTIVE_ADDRESS
# ReactVM ID (deployer address)
REACTVM_ID=REACTVM_ID

# USER
PRIVATE_KEY=USER_PRIVATE_KEY

SEPOLIA_RPC_URL=SEPOLIA_RPC_URL
